// COLORI
$headerBackground: rgb(255, 255, 255);
$mainTopBackground: rgb(28, 28, 28);
$mainBottomBackground: rgb(2, 130, 249);
$footerBottomBackground: rgb(48, 48, 48);
// FINE COLORI

// TESTO
$sizeBasic: 70%;
// FINE TESTO